<%= link_to 'Back to exsiting apps search', search_path, class: "btn btn-flat-reverse" %>
<div class="text-center">
  <h1>Existing applications on ViewBot</h1>
  <div>
    <div class="card-container">
      <% @applications.each do |application| %>
        <div class="card" style="width: 18rem;">
          <% if application.photo.attached? %>
            <img class="card-img-top" src="<%= cl_image_path application.photo.key, height: 300, width: 400, crop: :fill %>" alt="Card image cap"> 
          <% else %>
            <img class="card-img-top" src="https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/vk-512.png" alt="Card image cap">
          <% end %>
          <%= link_to "+", user_registration_path({user: {application_id: application.id}}), method: :patch, class: "btn btn-flat" %>
          <div class="card-body d-flex justify-content-between align-items-center">
            <h5 class="card-title"><%= application.name %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

 <div class="text-center mb-5">
 <p> Can't find your App ... </p>
    <%= link_to 'Look on the playstore', new_application_path, class: "btn btn-flat" %>
  </div>