<div class="">
  <div class="row justify-content-around">
    <div class="filter-border col-2">
      <div class="mt-3">
        <%= form_tag application_path(@application), method: :get, class: "form" do %>
          <%= label_tag :Filter_by_rating %>
          <%= select_tag :rating,
            options_for_select(0..5),
            class: "form-control"
          %>
          <%= button_tag(type: "submit", class: "btn btn-flat-reverse") do %>
            <i class="fab fa-searchengin"></i> 
          <% end %>
            <span><%= link_to "See All", application_path(@application) %></span>
        <% end %>
      </div>
      <div class="mt-3">
        <%= form_tag application_path(@application), method: :get, class: "form" do %>
          <%= label_tag :filter_by_language %>
          <%= select_tag :language,
            options_for_select(@language_options),
            class: "form-control"
          %>
          <%= button_tag(type: "submit", class: "btn btn-flat-reverse") do %>
            <i class="fab fa-searchengin"></i> 
          <% end %>
            <%= link_to "See All", application_path(@application) %>
        <% end %>
      </div>
      <div class="mt-3">
        <%= form_tag application_path(@application), method: :get, class: "form" do %>
          <%= label_tag :filter_by_date %>
          <%= select_tag :reviewed_at,
            options_for_select(@reviewed_at_options),
            class: "form-control"
          %>
          <%= button_tag(type: "submit", class: "btn btn-flat-reverse") do %>
            <i class="fab fa-searchengin"></i> 
          <% end %>
            <%= link_to "See All", application_path(@application) %>
        <% end %>
      </div>
    </div>
    <div class="filter-border-left col-8">
        <div class="card-product my-3">
          <div id="summary" class="card-product-infos d-flex justify-content-around text-center">
              <div>
                <h3>AVG STARS</h3>
                <h4><%= @application.reviews.average(:rating).ceil(2) %></h4>
              </div>
              <div>
                <h3>TOTAL REVIEWS</h3>
                <h4><%= @application.reviews.length %></h4>
              </div>
          </div>
        </div>  
     <% unless @reviews.empty? %> 
     <%= will_paginate @reviews, list_classes: %w(pagination justify-content-end) %> 
     <%end%>
      <% @reviews.each do |review| %>
     
      <%= link_to review_path(review) do %>
        <div class="card-product my-3">
          <div class="card-product-infos">
            <div class="row align-items-center justify-content-between">
              <div class="col-8">
                <div class="rating-stars mb-3">
                  <% review.rating.to_i.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5-review.rating.to_i).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                </div>
                <p class="p-2" style="background-color: rgba(211,211,211,0.5)"><%= review.content %></p>
              </div>
              <div class="col-4 text-right">
                <p>Language: <%= review.language %></p>
                <p>Date: <%= review.reviewed_at %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      <% unless @reviews.empty? %> 
      <%= will_paginate @reviews, list_classes: %w(pagination justify-content-end) %>
       <%end%>
    </div>
  </div>
</div>







